.headline {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
    /* margin-top: 30px; */
  }
  .gambar-kotak {
      border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    height: 300px; /* Ubah tinggi sesuai kebutuhan Anda */
    width: 100%; /* Set lebar 100% untuk memastikan persegi panjang */
    overflow: hidden; /* Menghilangkan konten yang melebihi batas kotak */
    position: relative; /* Memastikan posisi relatif untuk menempatkan teks */
    cursor: pointer; /* Menetapkan kursor sebagai pointer untuk menunjukkan interaktif */
    display: grid;
    align-content: center
  }
  .gambar-kotak img {
      width: 100%;
      height: auto;
  }
  .gambar-kotak img {
    width: 100%; /* Untuk memastikan gambar mengisi kotak */
    height: auto; /* Untuk menjaga aspek rasio gambar */
  }

  .teks-atas {
  height: 75px;
  position: absolute;
  inset: 0;  /* Ini menggantikan top: 0; left: 0; right: 0; */
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
  display: none;
  }
  .teks-bawah {
  height: 75px;
  position: absolute;
  inset: auto 0 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    text-align: center;
    display: none;
  }
  .modal-body:hover .teks-atas,
  .modal-body:hover .teks-bawah {
    display: block;
  }
  .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .modal-content {
    /* width: 600px; */
    /* height: 400px; */
    height: 80%;
    /* overflow: hidden; */
  }
  .modal-body {
    padding: 2rem;
    overflow-y: auto;
  }
  .modal-body img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

